@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --small-width: 94%;
  --medium-width: 90%;
  --big-width: 76%;

  /*========== Font and typography ==========*/
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--primary-color);
  background: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

body,
button,
input,
textarea {
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 5.5rem 0 1rem;
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 425px) {
  .container {
    max-width: var(--small-width);
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: var(--medium-width);
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: var(--big-width);
  }
}

.grid {
  display: grid;
}

.flex {
    display: flex;
}

.main {
  overflow: hidden; /*For animation*/
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10;
}
/*=============== NAV ===============*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 50px;
}

.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: black;
  font-weight: 600;
}

.navList {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

/*=============== HOME ===============*/
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainpage {
  height: 100vh;
  width: 100%;
}
/*=============== SIGNIN ===============*/
.loginBox {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 30px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.googleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px black solid;
  padding: 5px;
  margin: 20px 0px;
  border-radius: 6px;
}

textarea:focus, input:focus{
    outline: none;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
}

.googleBtn {
  padding: 10px;
  border-radius: 5px;
  color: black;
  background-color: transparent;
  font-weight: 600;
}

.loginInput {
  padding: 10px 20px;
  margin-top: 20px;
  border: 2px black solid;
  border-radius: 6px;
}

.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginBtn {
  width: 100%;
  margin: 20px 0px;
}

/*=============== PRODUCTS ===============*/
.productContainer {
  width: 100%;
  text-align: center;
}

.productsTitle {
  padding: 40px;
  font-size: 40px;
}

.productWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
}

.item {
  position: relative;
  border-radius: 14px;
  height: 430px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: 0.3s;
}

@media screen and (min-width: 767px) {
  .item:hover .itemImg {
    transform: translateY(-8px);
  }
}

.itemImg {
  width: 270px;
  margin-top: 50px;
  transition: 0.3s;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.itemBottom {
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: left;
  margin-top: 10px;
}

.cart {
  position: relative;
  padding: 5px;
}

.cartCounter {
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background-color: white;
  border-radius: 50%;
  font-weight: 700;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  outline: 2px black solid;
  user-select: none;
}

.itemName {
  font-weight: 500;
}

.itemPrice {
  font-weight: 500;
  font-size: 18px;
}

.sortMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  width: 100%;
  flex-wrap: wrap;
}

.sortBtn {
  padding: 10px 20px;
  background: transparent;
  font-weight: 600;
  font-size: 17px;
}

/*=============== TESTMONIALS ===============*/

/*=============== FOOTER ===============*/

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

/*=============== RESPONSIVE BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 767px) {
}

/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 8rem 0 1rem;
  }
}

@media screen and (min-width: 1200px) {
}
